@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: hsl(199, 64%, 73%);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: hsl(199, 95%, 14%);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #487d96;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(96% 0.007 247.896);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.857% 0.023 264.149);
  --color-base-200: oklch(28.036% 0.019 264.182);
  --color-base-300: oklch(26.346% 0.018 262.177);
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: hsl(199, 64%, 73%);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: hsl(199, 95%, 14%);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #487d96;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(24.731% 0.02 264.094);
  --color-neutral-content: oklch(82.901% 0.031 222.959);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(96% 0.007 247.896);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

h2 {
  @apply text-3xl font-bold py-3;
}

h5 {
  @apply text-2xl py-3 font-semibold underline;
}

.btn {
  @apply text-lg;
}

.btn,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="file"],
input[type="url"],
input[type="password"] {
  @apply rounded-full;
}
textarea {
  @apply rounded-2xl;
}

.btn-primary,
.btn-secondary,
.btn-accent,
.btn-neutral,
.btn-info,
.btn-success,
.btn-error {
  @apply text-white;
}

label {
  @apply pl-1;
}

.card-title {
  @apply text-lg;
}
